asgiref
boto3
botocore
dj-database-url
Django==3.0.5
django-filter
django-storages
djongo
dnspython
gunicorn
jmespath
mongoengine
Pillow
psycopg2
pymongo
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
whitenoise
