.card_css{
    margin-left: 40px;
    padding-top: 30px;

}

.card_inner{
    padding-block: 2.5rem;

}
.size_text{
    font-weight: bold;
    font-size: 15px;
}

.cancel_button{
    font-size: larger;
}

.delete_button {
    font-size: larger;
    margin: 100px;
}

